.heroesWrapper {
  z-index: 2;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background-color: var(--bg-color);

  padding: 16px 0 8px 0;

  overflow-y: auto;

  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.heroesWrapperOpened {
  transform: translateX(0);
}

.backButton {
  background-color: transparent;
}

.backButton svg {
  fill: var(--text-color);
  width: 24px;
  height: 24px;
}

.heroesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heroImageWrapper {
  position: relative;
}

.heroBanned::after {
  content: "";

  position: absolute;
  left: 2px;
  top: 2px;

  transform-origin: 0% 0%;
  transform: rotateZ(28deg);

  height: 2px;
  width: max(81px, 22vw);

  background-color: red;
}

.heroPicked::after {
}

.heroImage {
  width: max(64px, 20vw);
  display: block;
}

.heroImageDisabled {
  filter: brightness(20%);
}
