.radiant-active {
  color: var(--radiant-color);
}

.dire-active {
  color: var(--dire-color);
}

.picks {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-bottom: 16px;
}

.stage {
  display: flex;
  justify-content: center;
  gap: 96px;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 4px;

  justify-content: space-between;
  width: 100%;
}

.side h2 {
  font-size: 20px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 130px;
}

.radiant {
  align-items: flex-end;
}

.dire {
  align-items: flex-start;
}

.radiant h2 {
  text-align: end;
}

.dire h2 {
  text-align: start;
}
