:root {
  --dire-color: #de3909;
  --radiant-color: #42a51c;

  --bonus-color: #f4f807;

  --bg-color: #3e3e3e;

  --card-color: black;
  --card-active-color: #3b4d5d;

  --text-color: #919390;
  --text-active-color: #f0ece7;

  --box-shadow-blue: #195594;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
